@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Maersk Line</h1>
    <p class="lead">Maersk Line is the global container division and the largest operating unit of the A.P. Moller – Maersk Group, a Danish business conglomerate. </p>
    <p>@Html.ActionLink("Register User", "Register", "Account")>></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Largest Container Shipping Company</h2>
        <p>Maersk Line having customers through 374 offices in 116 countries!</p>
    </div>
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>It employs approximately 7,000 sea farers and approximately 25,000 land-based people!</p>
    </div>
    <div class="col-md-4">
        <h2>Vessels</h2>
        <p> Maersk Line operates over 600 vessels and has a capacity of 2.6 million TEU!</p>
    </div>
</div>